---

---

<footer class="w-screen bg-bastion-purple h-80 items-center">
    <div class="max-w-[1200px] flex py-12 h-full mx-auto">
        <div class="h-full w-auto flex align-middle">
            <img class="h-20 w-auto my-auto" src="/bastion-logo-white.png" alt="Bastion logo">
        </div>
    </div>
</footer>